# --- SENSÍVEL E AMBIENTE ---
.env
.env.local
.env.*.local
*.log
.DS_Store
ngrok.exe
gh.exe

# --- PYTHON (Backend) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# --- NODE/REACT (Frontend) ---
node_modules/
/dist
/build
.eslintcache
.stylelintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

# --- FERRAMENTAS ---
.vscode/
.idea/
*.swp